<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <movie_configuration>
                <demo_text>I'm a Text Field</demo_text>
                <status>1</status>
                <custom_select>1</custom_select>
            </movie_configuration>
        </movie>
    </default>
</config>
