<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\Movie\Api\Data\ActorInterface" type="Magenest\Movie\Model\Actor"/>
    <preference for="Magenest\Movie\Api\Data\DirectorInterface" type="Magenest\Movie\Model\Director"/>
    <preference for="Magenest\Movie\Api\Data\MovieInterface" type="Magenest\Movie\Model\Movie"/>
    <preference for="Magenest\Movie\Api\Data\MovieActorInterface" type="Magenest\Movie\Model\MovieActor"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Movie\Collection
                </item>
                <item name="director_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Director\Collection
                </item>
                <item name="actor_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Actor\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Movie\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">
                Magenest\Movie\Model\ResourceModel\Movie
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Director\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">
                Magenest\Movie\Model\ResourceModel\Director
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Actor\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">
                Magenest\Movie\Model\ResourceModel\Actor
            </argument>
        </arguments>
    </virtualType>
</config>
